.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-c {
  align-items: center;
}

.nowrap {
  flex-flow: row nowrap;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 10px;
}


.bold {
  font-weight: bold;
}
